@import url(http://fonts.googleapis.com/css?family=ABeeZee);

* {
	margin: 0;
	padding: 0;
}

/*body {
	/*background: url(http://unice.fr/rdf/contenus-riches/carousel/banniere-ronde-des-facs/leadImage_full);
	background-position: 100% auto;
	background-image: url(web/img/backgroundRDF.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-image:url(fond.gif);
	background-repeat:no-repeat;
	background-position: center center;
}*/

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: ABeeZee;
	font-size: 10px;
	background: #E9EAED;
	background-image:url(web/img/rdf.png);
	background-repeat:no-repeat;
	background-position: center center;
}

/* HEADER recup ici sur codepen*/
header {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	font-weight: bold;
	color: #FEFDFA;
	background: #333333;
	line-height: 60px;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

header h1 {
	float: left;
	cursor: pointer;
	font-size: 18px;
	padding: 0 10px 0;
	margin: 0 0 0 10px;
	border-right: 1px solid #555;
	}

header nav {
	float: left;
	margin: 0 0 0 30px;
	font-size: 14px;
}

header nav ul { 
	margin: 0;
	padding: 0;
}

header nav li {
	display: inline-block;
	padding: 0 20px;
	cursor: pointer;
}

header nav ul li img {
	position: absolute;
	top: -20px;
	float: left;
	margin-left: -30px;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	cursor: pointer;
}

main {
	font-size: 16px;
	padding: 100px 50px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: rgba(0, 136, 204, 1);
}

.tabs {
	position: relative;
	min-height: 500px;
	clear: both;
	margin: 10px 50px;
}

.tabs li{
	float: left;
	list-style: none;
}

.tabs label {
	display: block;
	position: relative;
	padding: 10px 20px;
	color: rgba(0, 136, 204, 1);
	font-size: 24px;
	background: rgba(255,255,255,0.2);
	cursor: pointer;
	top: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tabs label:hover {
	background: rgba(255,255,255,0.5);
	top: 0;
}

.contenu {
	z-index: 0;
	position: absolute;
	display: none;
	text-align: left;
	width: 100%;
	height: 100%;
	font-size: 20px;
	background: rgba(255,255,255,0.2);
	padding: 15px;
	color: black;
	top: 60px;
	left: 0;
}

input[name=tabs] {
	display: none;
}

[type=radio]:checked ~ label {
	background: rgba(0, 136, 204, 1);
	color: white;
	top: 0;
}

[type=radio]:checked ~ label ~ .contenu {
	display: block;
}

input[type=submit] {
	margin-top: 40px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: rgba(0, 136, 204, 1);
	border-color: rgba(0, 136, 204, 1);
	border-style: outset;
	cursor: pointer;
}

input[type=submit][name=modifierPass] {
	margin-top: 0px;
	width: 100px;
	height: 35px;
	border-radius: 0%;
	color: rgba(0, 136, 204, 1);
	border-color: rgba(0, 136, 204, 1);
	border-style: outset;
	cursor: pointer;
}

input[type=submit][name=upload] {
	margin-top: 0px;
	width: 100px;
	height: 35px;
	border-radius: 0%;
	color: rgba(0, 136, 204, 1);
	border-color: rgba(0, 136, 204, 1);
	border-style: outset;
	cursor: pointer;
}

input[type=button] {
	width: 80px;
	height: 30px;
	color: rgba(0, 136, 204, 1);
	border-color: rgba(0, 136, 204, 1);
	border-style: outset;
	cursor: pointer;
}

.boite {
	position: absolute;
	float: left;
	margin: 80px 0 0 0;
	vertical-align: middle;
	left: 50%;
	width: 250px;
	margin-left: -200px;
	text-align: center;
}

.boite2 {
	position: absolute;
	float: left;
	margin: 170px 0 0 0;
	vertical-align: middle;
	left: 50%;
	width: 750px;
	margin-left: -350px;
	text-align: center;
}

.boite3 {
	position: absolute;
	margin: 80px 0 0 0;
	vertical-align: middle;
	left: 50%;
	width: 500px;
	margin-left: -250px;
}

.erreur {
	position: absolute;
	margin: 0 0 0 0;
	padding: 10px;
	vertical-align: middle;
	left: 0;
	width: 100%;
	text-align: center;
	color: black;
	background: #E70739;
	transition: all 0.5s;
}

.valider {
	position: absolute;
	margin: 0 0 0 0;
	padding: 10px;
	vertical-align: middle;
	left: 0;
	width: 100%;
	text-align: center;
	color: black;
	background: #8FCF3C;
	transition: all 0.5s;
}

span {
	position: relative;
	display: inline-block;
	margin: 10px 10px;
}

.popup {
	display: inline-block;
	width: 215px;
	padding: 10px 0 10px 10px;
	font-family: "Open Sans", sans;
	font-weight: 400;
	color: #377D6A;
	background: #fff;
	border: 0;
	border-radius: 3px;
	outline: 0;
	text-indent: 60px;
	transition: all .3s ease-in-out;
}

.popup::-webkit-input-placeholder {
	color: #fff;
	text-indent: 0;
	font-weight: 300;
}

.popup + legend {
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 0;
	bottom: 8px;
	padding: 5px 5px;
	color: #032429;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
	transition: all .3s ease-in-out;
	border-radius: 3px;
	background: rgba(122, 184, 147, 0);
}

.popup:focus,
.popup:active {
	color: rgba(0, 136, 204, 1);
	text-indent: 0;
	background: #fff;
}

.popup:focus::-webkit-input-placeholder,
.popup:active::-webkit-input-placeholder {
	color: rgba(0, 136, 204, 1);
}

.popup:focus + legend,
.popup:active + legend {
	color: #fff;
	text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
	background: rgba(0, 136, 204, 1);
	transform: translateY(-30px);
}

.popup:focus + legend:after,
.popup:active + legend:after {
	border-top: 4px solid rgba(0, 136, 204, 1);
}
